<div class="row">
  <div class="avatar large-2 columns">
    <%= avatar_profile_link @user_friendship.user, {}, class: '' %>
  </div>

  <div class="avatar large-2 columns">
    <%= avatar_profile_link @user_friendship.friend, {}, class: '' %>
  </div>
</div>

<h3><%= @user_friendship.sub_message %>

<% if @user_friendship.requested? %>
  <%= simple_form_for @user_friendship, url: accept_user_friendship_path(@user_friendship), method:
    :put do |form| %>

    <%= form.submit "Accept friendship", class: "button" %>
  <% end %>
<% end %>


<%= simple_form_for @user_friendship, url: block_user_friendship_path(@user_friendship), method:
  :put do |form| %>

  <%= form.submit "Block friendship", class: "button" %>
<% end %>

<%= simple_form_for @user_friendship, url: user_friendship_path(@user_friendship), method:
  :delete do |form| %>

  <%= form.submit "Delete friendship", class: "button" %>
<% end %>
