Viewing friendship

<div class="row">
  <div class="avatar large-2 columns">
    <%= image_tag @user_friendship.user.gravatar_url %><br>
    <%= @user_friendship.user.first_name %>
  </div>

  <div class="avatar large-2 columns">
    <%= image_tag @user_friendship.friend.gravatar_url %><br>
    <%= @user_friendship.friend.first_name %>
  </div>
</div>

<h3><%= @user_friendship.sub_message %>

<% if @user_friendship.requested? %>
  <%= simple_form_form @user_friendship, url: accept_user_friendship_path(@user_friendship), method:
    :put do |form| %>

    <%= form.submit "Accept friendship", class: "button" %>
  <% end %>
<% end %>

<%= simple_form_form @user_friendship, url: accept_user_friendship_path(@user_friendship), method:
  :delete do |form| %>

  <%= form.submit "Delete friendship", class: "button" %>
<% end %>
