<div class="row">
  <div class="avatar large-2 columns section centered">
    <%= avatar_profile_link @collaboration.user, {}, class: '' %>
  </div>

  <div class="large-10 columns">
    <h4 class="subheader">
      <%= @collaboration.state.titleize %> collaboration from
      <%= link_to "#{@collaboration.user.full_name}", profile_path(@collaboration.user) %> for
      <%= link_to "#{@collaboration.ideaboard.title}", ideaboard_path(@collaboration.ideaboard) %>
      <div>
        <hr>
        <% if @collaboration.requested? %>
          <%= simple_form_for @collaboration, url: accept_collaboration_path('ideaboards', @ideaboard, @collaboration), method:
            :put do |form| %>

            <%= form.submit "Accept", class: "button" %>
          <% end %>
        <% end %>

        <% if @collaboration.accepted? %>
          <%= simple_form_for @collaboration, url: block_collaboration_path('ideaboards', @ideaboard, @collaboration), method: :put do |form| %>

            <%= form.submit "Block collaboration", class: "button" %>
          <% end %>
        <% end %>

        <%= simple_form_for @collaboration, url: collaborations_path('ideaboards', @ideaboard, @collaboration), method: :delete do |form| %>

          <%= form.submit "Delete", class: "button alert" %>
        <% end %>
      </div>
    </h4>
  </div>
</div>
