<div class="row">
  <%= render partial: 'ideaboards/side_menu' %>

  <div class="large-9 larege-offset-3 columns cover-page">
    <h4 class="subheader"><%= @ideaboard.title %></h4>
    <% if @albums %>
      <div class="row">
        <ul class="small-block-grid-3">
          <% @albums.each do |album| %>
            <li class="album">
              <%= link_to album_pictures_path('ideaboards', @ideaboard, album) do %>
                <h5><%= album.title %></h5>
                <p><%= album.pictures.count %> pictures</p>
                <% if can_edit_album?(album) %>
                  <%= link_to 'Edit', edit_album_path('ideaboards', @ideaboard) %>
                  | <%= link_to 'Delete', album_path('ideaboards', @ideaboard),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if signed_in? && current_user == @user %>
    <%= link_to 'New Album', new_album_path %>
    <% end %>
  </div>
</div>
