<div class="portfolio">
  <div class="header">
    <div class="row">
      <div class="large-3 columns">
        <%= avatar_profile_link @user, {}, class: '' %>
      </div>

      <div class="large-9 columns">
        <div class="cover">
          <%= avatar_profile_link @user, {}, class: '' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <h3><%= @user.full_name %></h3>
        <% if signed_in? && current_user == @user %>
          <%= link_to "Edit profile", edit_user_registration_path %>
        <% end %>
      </div>

      <div class="large-3 columns end">
        <div class="stat">Connections <span><%= @user.friends.count %></span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <% if signed_in? && current_user != @user %>
        <div id="friend-status">
          <% if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
            <%= link_to "Edit Friendship", edit_user_friendship_path(friend_id: @user), class: "button" %>
          <% else %>
            <%= link_to "Connect", new_user_friendship_path(friend_id: @user), class: "button", id: "add-friendship",
                data: { friend_id: @user.to_param } %>
          <% end %>
        </div>
      <% end %>

      <h4 class="subheader">About</h4>
        <div>
          <h4 class="subheader">My Interests</h5>
            <ul class="link-list">
              <% @user.tags.each do |tag| %>
                <% if tag.name %>
                  <li class="tag">
                    <% if signed_in? && current_user == @user %>
                      <%= link_to tag_path(:tag_id => tag.id), method: :delete do %>
                        <i class='fa fa-times-circle-o'>x</i>
                      <% end %>
                    <% end %>
                    <%= link_to "#{tag.name}", tag_path(tag.name) %>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <% if signed_in? && current_user == @user %>
            <%= simple_form_for @tag, method: :create, :url => tags_path do |f| %>
              <div class="row collapse">
                <div class="small-10 columns">
                  <%= f.input :name, label: false %>
                </div>
                <div class="small-2 columns">
                  <%= f.hidden_field :profile_id, :value => current_user.id %>
                  <%= f.submit "Add", class: "button postfix" %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <h4 class="subheader">Skills</h4>
        <div>
          <ul class="link-list">
              <% @user.skills %>
              <% @user.skills.each do |skill| %>
                <% if skill.name %>
                  <li class="tag">
                    <% if signed_in? && current_user == @user %>
                      <%= link_to tag_path(:tag_id => skill.id), method: :delete do %>
                        <i class='fa fa-times-circle-o'>x</i>
                      <% end %>
                    <% end %>
                    <%= link_to "#{skill.name}", tag_path(skill.name) %>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <% if signed_in? && current_user == @user %>
            <%= simple_form_for @tag, method: :create, :url => tags_path do |f| %>
              <div class="row collapse">
                <div class="small-10 columns">
                  <%= f.input :name, label: false %>
                </div>
                <div class="small-2 columns">
                  <%= f.hidden_field :profile_id, :value => current_user.id %>
                  <%= f.hidden_field :is_skill, :value => true %>
                  <%= f.submit "Add", class: "button postfix" %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <div>
          <ul class="link-list friendsList section">
            <h4 class="subheader">Connections</h4>
            <% @user_friendships[0..5].each do |friendship| %>
              <li class="portfolio-preview"><%= avatar_profile_link friendship, {}, class: '' %></li>
            <% end %>
            <li> <%= link_to "See all", friends_list_path(@user) %></li>
          </ul>
      </div>
    </div>

    <div class="large-9 columns">
      <div class="section-container">
        <dl class="tabs" data-tab>
          <dd class="active"><a href="#projects">Projects</a></dd>
          <dd><a href="#collaborations">Collaborations</a></dd>
        </dl>
      </div>
      <div class="tabs-content">
        <div class="content active section" id="projects">
          <% @ideaboards.each do |ideaboard| %>
            <%= link_to ideaboard_path(ideaboard) do %>
              <div class="idea-thumb">
                <h5 class="subheader"><%= ideaboard.title %></h5>
                <p><%= ideaboard.description %></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="content section" id="collaborations">
          <% @user.collaborations.each do |collaboration| %>
            <%= link_to ideaboard_path(collaboration.ideaboard_id) do %>
              <div class="idea-thumb">
                <h5 class="subheader"><%= collaboration.ideaboard.title %></h5>
                <p><%= collaboration.ideaboard.description %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <h5>Feed</h5>
      <div class="feed">
        <form>
          <div class="row collapse">
            <div class="small-12 columns">
              <input type="text" placeholder="Post something!" />
            </div>
          </div>
        </form>
        <ul class="link-list social">
          <li>
            <div></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
