<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Ethos</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div class="main">
        <nav class="top-bar">
          <ul class="title-area">
            <li class="name">
              <h1><a href="">Ethos</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
          </ul>

          <section class="top-bar-section">
            <ul class="left">
              <li class="divider"></li>
              <li><%= link_to "Home", ideaboards_path %></li>
              <li class="divider"></li>
              <% if signed_in? %>
                <li><%= link_to "Ideaboards", ideaboards_list_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Campus Connects", users_list_path %></li>
                <li class="divider"></li>
                <!-- <li id="activity-feed"> link_to "Activity", activities_path</li> -->
                <!-- <li class="divider"></li> -->
              <% end %>
              <!-- <li>link_to "Messages", messages_path(@user)</li> -->
              <li class="divider"></li>
            </ul>

            <ul class="right">
              <% if user_signed_in? %>
                <li class="avatar has-dropdown">
                  <%= link_to  "Profile", profile_path(current_user) %>
                  <ul class="dropdown">
                      <li>link_to settings_path(@user)</li>
                      <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                  </ul>
                </li>
                <li class="has-form">
                  <%= link_to "Log out", logout_path, class: "button", method: :delete %>
                </li>

              <% else %>
                <li><%= link_to "Register", register_path %></li>
                <li class="has-form">
                  <%= link_to "Log in", login_path, class: "button" %>
                </li>
              <% end %>
            </ul>
          </section>
        </nav>

        <ul class="breadcrumbs">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ul>

        <div class="row">
          <% flash.each do |type, message| %>
            <div data-alert class="alert-box large-12 columns <%= flash_class type %>">
              <%= message %>
              <a href="#" class="close">&times;</a>
            </div>
          <% end %>
        </div>

        <div class="content container">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
      <ul class="inline-list">
        <li><%= link_to "Home", ideaboards_path %></li>
        <li><%= link_to "Connects", users_list_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Profile", profile_path(current_user) %></li>
        <% end %>
      </ul>
    </footer>
    <%= javascript_include_tag "application" %>

    <script id="activities-template" type="text/x-handlebars-template">
      <div class="has-dropdown">
        <a href="{{activityFeedLink}}">Activity ({{count}})</a>
        <ul class="dropdown">
        {{#each activities}}
          {{activityLink}}
        {{/each}}
        <li class="divider"></li>
        <li><a href="{{activityFeedLink}}">View feed</a></li>
        </ul>
      </div>
    </script>
  </body>
</html>
