<div class="row">
  <div class="large-6 columns large-centered">
    <h2>Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email %>
      <%= f.input :password %>


      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>

      <div><%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.input :remember_me, as: :boolean %></div>
      <% end -%>

      <div><%= f.submit "Log in", class: 'button' %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
