<div class="row">
  <div class="large-6 columns large-centered">
    <%= simple_form_for(@ideaboard, html: { multipart: true }) do |f| %>
      <% if @ideaboard.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@ideaboard.errors.count, "error") %>
            prohibited this ideaboard from being saved:
          </h2>

          <ul>
          <% @ideaboard.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.fields_for :document do |document_fields| %>
        <%= document_fields.input :attachment, as: :file %>
      <% end %>
      <%= f.submit class: 'button'%>
    <% end %>
  </end>
</div>
