<div class="row edit-form">
  <div class="large-12 columns">
    <%= simple_form_for(@ideaboard, html: { class: '', multipart: true }) do |f| %>
      <% if @ideaboard.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@ideaboard.errors.count, "error") %>
            prohibited this ideaboard from being saved:
          </h2>

          <ul>
          <% @ideaboard.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="large-5 columns large-centered">
        <%= f.input :title, placeholder: "Create new Ideaboard", label: false, id: "ideaboard-title" %>
      </div>

      <div id="ideaboard-create">
        <fieldset>
          <div class="row">
            <div class="large-6 columns">
              <label>Tags
                <input type="text"></input>
              </label>
            </div>

            <div class="large-6 columns">
              <label>Skills
                <input type="text"></input>
              </label>
            </div>
          </div>

          <%= f.input :description %>
          <%= f.fields_for :document do |document_fields| %>
            <% if document_fields.object.attachment? %>
              <div>
                Current attachment:
                <%= link_to document_fields.object.attachment_file_name,
                  document_fields.object.attachment.url %>
              </div>
              <div>
                <%= document_fields.input :remove_attachment, as: :boolean, label: "Remove attachment?" %>
              </div>
            <% end %>
            <%= document_fields.input :attachment, as: :file %>
          <% end %>
        </fieldset>

        <%= f.submit class: 'button'%>
        <div class="button alert" id="ideaboard-cancel">Cancel</div>
      </div>
    <% end %>
  </div>
</div>
