<div class="large-3 columns">
  <div class="idea-navigation section">
    <div><a> <%= link_to "Idea", ideaboard_path(@ideaboard) %></div>
    <div><%= link_to "About", about_ideaboard_path(@ideaboard) %></div>
    <div><%= link_to "Activity", activity_ideaboard_path(@ideaboard) %></div>
    <div><%= link_to "Discussion", discussion_ideaboard_path(@ideaboard) %></div>
    <div><%= link_to 'Albums', albums_path('ideaboards', @ideaboard) %></div>
    <div><%= link_to "#{@ideaboard.likes.count} Likes", likes_path('ideaboards', @ideaboard) %></div>

    <% if signed_in? %>
      <% if current_user == @ideaboard.user %>
        <hr>
        <div><a><%= link_to "Edit", edit_ideaboard_path(@ideaboard) %></a></div>
        <div><a> Stats </a></div>
      <% end %>
      <hr>
      <div class="application">
        <% if can_collaborate?(@ideaboard) %>
          <%= link_to "Apply", new_collaboration_path('ideaboards', @ideaboard), class: 'button' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
