
<div class="row">
  <%= link_to "All", ideaboards_list_path(current_user) %>
  | <%= link_to "Followed", ideaboards_list_path(current_user, :filter => "followed") %>
  | <%= link_to "Mine", ideaboards_list_path(current_user, :filter => "mine") %>
  | <%= link_to "Contributor", ideaboards_list_path(current_user, :filter => "contributor") %>
  <hr/>
  <% @ideaboards.each do |ideaboard| %>
    <div class="featured-idea">
      <div class="large-2 columns">
        <div class="author">
          <div>
            <%= link_to profile_path(ideaboard.user) do %>
              <%= avatar_profile_link ideaboard.user, {}, class: '' %>
            <% end %>
          </div>
        </div>
      </div>
      <%= link_to ideaboard_path(ideaboard) do %>
        <div class="large-4 columns">
          <h3><%= ideaboard.title %></h3>
          <%= ideaboard_document_link ideaboard %>
        </div>
        <div class="large-6 columns">
          <p><%= ideaboard.description %></p>
          <hr>
          <p><%= ideaboard.likes.count %> Likes</p>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= will_paginate @ideaboards %>
</div>
