
<div class="row">
  All | Followed | Mine | Contributor
  <hr/>
  <% @ideaboards.each do |ideaboard| %>
    <div class="featured-idea">
      <div class="large-2 columns">
        <div class="author">
          <div>
            <%= link_to profile_path(ideaboard.user) do %>
              <%= avatar_profile_link ideaboard.user, {}, class: '' %>
              <p><%= ideaboard.user.full_name %></p>
            <% end %>
          </div>
        </div>
      </div>
      <%= link_to ideaboard_path(ideaboard) do %>
        <div class="large-4 columns">
          <h3><%= ideaboard.title %></h3>
          <%= ideaboard_document_link ideaboard %>
        </div>
        <div class="large-6 columns">
          <p><%= ideaboard.description %></p>
          <hr>
          <p><%= ideaboard.likes.count %> Likes</p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
