All | Followed | Mine | Contributor

<div>
 <% @ideaboards.each do |ideaboard| %>
    <div class="featured-idea">
      <div class="large-4 columns">
        <div class="row author">
          <div class="larege-4 small-4 columns">
            <%= link_to profile_path(ideaboard.user) do %>
              <%= ideaboard.user.full_name %>
              <%= avatar_profile_link ideaboard.user, {}, class: '' %>
            <% end %>
          </div>
        </div>
        <%= link_to "#{ideaboard.title}", ideaboard_path(ideaboard) %>
        <%= ideaboard_document_link ideaboard %>
        <p class="description"><%= ideaboard.description %>
      </div>
      <div class="large-6 columns">
        <div class="large-4 columns">0 Likes</div>
        <div class="row detail">
          <div class="large-12 columns">
            <div class="skills-needed">Skills needed:
              <a> Programming </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
