<div class="row">
  <%= render partial: 'side_menu' %>

  <div class="large-9 larege-offset-3 columns cover-page">
    <% if signed_in? %>
      <% if current_user == @ideaboard.user %>
        <div><a><%= link_to "Edit", edit_ideaboard_path(@ideaboard), class: "button" %></a></div>
      <% else %>
        <div class="application">
          <button class="button small">Apply</button>
          <button class="button small">Undo Application</button>
        </div>
      <% end %>
      <hr>
    <% end %>

    <img class="logo" src="img_tag(foundation_paperclip_picture)">
    <div class="title"> <%= @ideaboard.title %> </div>

    <div class="row">
      <div class="large-6 columns">
        <h4 class="subheader"> Tags </h4>
        <ul class="link-list">
          <% @ideaboard.tags.each do |tag| %>
            <% if tag.name %>
              <li class="tag">
                <% if can_edit?(@ideaboard) %>
                  <%= link_to tag_path(:tag_id => tag.id), method: :delete do %>
                    <i class='fa fa-times-circle-o'>x</i>
                  <% end %>
                <% end %>
                <%= link_to "#{tag.name}", tag_path(tag.name) %>
              </li>
            <% end %>
          <% end %>
        </ul>

        <% if can_edit?(@ideaboard) %>
          <%= simple_form_for @tag, method: :create, :url => tags_path do |f| %>
            <div class="row collapse">
              <div class="large-10 columns">
                <%= f.input :name, label: false %>
              </div>
              <div class="large-2 columns">
                <%= f.hidden_field :ideaboard_id, :value => @ideaboard.id %>
                <%= f.submit "Add", class: "button postfix" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="large-6 columns">
        <h4 class="subheader"> Skills Needed </h4>
        <ul class="link-list">
          <% @ideaboard.skills.each do |skill| %>
            <% if skill.name %>
              <li class="tag">
                <% if can_edit?(@ideaboard) %>
                  <%= link_to skill_path(:skill_id => skill.id), method: :delete do %>
                    <i class='fa fa-times-circle-o'>x</i>
                  <% end %>
                <% end %>
                <%= link_to "#{skill.name}", skill_path(skill.name) %>
              </li>
            <% end %>
          <% end %>
        </ul>

        <% if can_edit?(@ideaboard) %>
          <%= simple_form_for @tag, method: :create, :url => skills_path do |f| %>
            <div class="row collapse">
              <div class="large-10 columns">
                <%= f.input :name, label: false %>
              </div>
              <div class="large-2 columns">
                <%= f.hidden_field :ideaboard_id, :value => @ideaboard.id %>
                <%= f.hidden_field :is_skill, :value => true %>
                <%= f.submit "Add", class: "button postfix" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="description section"> <%= @ideaboard.description %> </div>


    <div>
      <h4 class="subheader">Collaborators</h4>
      <!-- link to pending applications if can edit -->
      <ul class="link-list friendsList clearfix">
        <li class="section large-3 columns portfolio-preview">
          <%= avatar_profile_link @ideaboard.user, {}, class: '' %>
        </li>
        <% @ideaboard.collaborators[0..9].each do |collaboration| %>
          <li class="section large-3 columns portfolio-preview">
            <%= avatar_profile_link collaboration.user, {}, class: '' %>
          </li>
        <% end %>
      </ul>
      <%= link_to "See All", collaborations_path('ideaboards', @ideaboard) %>
    </div>

    <% if @ideaboard.document && @ideaboard.document.attachment? %>
      <%= ideaboard_document_link @ideaboard %>
    <% end %>

     <% if @albums %>
      <% @albums[0..3].each do |album| %>
        <%= album.ideaboard %>
        <%= album.title %>
        <%= link_to 'Show', album %>
        <% if can_edit_album(album) %>
          | <%= link_to 'Edit', edit_album_path(album) %>
          | <%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to 'All Albums', albums_path('ideaboards', @ideaboard) %>

    <% if signed_in? && current_user == @ideaboard.user %>
      <%= link_to "New Album", new_album_path('ideaboards', @ideaboard) %>
    <% end %>

  </div>
</div>
