<div class="row">
  <%= render partial: 'side_menu' %>

  <div class="large-9 larege-offset-3 columns cover-page">
    <div>
      Application Info Here
    </div>

    <img class="logo" src="img_tag(foundation_paperclip_picture)">
    <div class="title"> <%= @ideaboard.title %> </div>

    <div>
      <h4 class="subheader"> Tags </h4>
      <ul class="link-list">
        <% @ideaboard.tags.each do |tag| %>
          <% if tag.name %>
            <li class="tag">
              <%= link_to "#{tag.name}", tag_path(tag.name) %>
              <% if can_edit?(@ideaboard) %>
                <i class="fa fa-times-circle-o">x</i>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <% if can_edit?(@ideaboard) %>
        <%= simple_form_for @tag, method: :create, :url => ideaboard_tags_path('ideaboards', @ideaboard) do |f| %>
         <%= f.hidden_field :ideaboard_id, :value => @ideaboard.id %>
         <%= f.input :name %>
         <%= f.submit "Add", class: "button" %>
        <% end %>
      <% end %>
    </div>

    <div class="description section"> <%= @ideaboard.description %> </div>

    <div>
      <h4 class="subheader"> Skills Needed </h4>
      <ul class="link-list">
        <li class="tag">Test</li> <!-- if can edit -> class="fa fa-times-circle-o" to delete -->
      </ul>
    </div>

    <div>
      <h4 class="subheader">Collaborators</h4>
      <!-- link to pending applications if can edit -->
      <ul class="link-list friendsList clearfix">
        <li class="section large-3 columns portfolio-preview">
          <%= link_to profile_path(@ideaboard.user) do %>
            <%= avatar_profile_link @ideaboard.user, {}, class: '' %>
            <%= @ideaboard.user.context_name(@ideaboard.user) %>
          <% end %>
        </li>
        <% @ideaboard.collaborations.each do |collaboration| %>
          <li class="section large-3 columns portfolio-preview">
            <%= link_to profile_path(collaboration.user) do %>
              <%= avatar_profile_link collaboration.user, {}, class: '' %>
              <%= collaboration.user.context_name(collaboration.user) %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= link_to "See All", collaborations_path('ideaboards', @ideaboard) %>
    </div>

    <% if @ideaboard.document && @ideaboard.document.attachment? %>
      <%= ideaboard_document_link @ideaboard %>
    <% end %>

     <% if @albums %>
      <% @albums[0..3].each do |album| %>
        <%= album.ideaboard %>
        <%= album.title %>
        <%= link_to 'Show', album %>
        <% if can_edit_album(album) %>
          | <%= link_to 'Edit', edit_album_path(album) %>
          | <%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to 'All Albums', albums_path('ideaboards', @ideaboard) %>
    <%= link_to 'Likes', likes_path('ideaboards', @ideaboard) %>

    <% if signed_in? && current_user == @ideaboard.user %>
      <%= link_to "New Album", new_album_path('ideaboards', @ideaboard) %>
    <% end %>

  </div>
</div>
